body {
    background-image: url('images/1.jpg');
    background-size: cover;
    -webkit-user-select: none;
}
.watch {
    color: #FFF;
    position: absolute;
}
#time {
    font-size: 120px;
}
#date {
    font-size: 48px;
}

.watch-center {
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}
.watch-bottom-left {
    left: 15px;
    bottom: 15px;
}
.watch-bottom-right {
    right: 15px;
    bottom: 15px;
}